$color-primario: whitesmoke;

@mixin flex-container($justify-content,$flex-wrap,$align-items,$flex-direction){
  display: flex;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


header{
  border-bottom: gray;
  box-shadow: 1px 1px 10px gainsboro;
  height: 120px;
  color: $color-primario;
  background-color: #282c34;
  margin-bottom: 20px;

  @include flex-container(space-around,nowrap,center,row);

  a {
    text-decoration: none;
    color: $color-primario;
  }

  img {
    width: 100px;
    height: 100px;
  }

}

.titulo{
  font-size: 50px;
  font-weight: 300;
}


.container{
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
 
  @include flex-container(space-between,wrap,stretch,row);
}

.input{
  margin: 0 auto;
  width: 70%;
  margin-bottom: 10px;

  @include flex-container(flex-start,wrap,flex-end,column);
  
  input{
    margin-bottom: 5px;
    width: 170px;
    padding-left: 10px;
    height: 30px;
    border:1px solid rgba(0,0,0,.125);
    border-radius:4px;
    box-shadow: 1px 1px 10px $color-primario;
  }

}


.tarjeta{
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    border:1px solid rgba(0,0,0,.125);
    border-radius:4px;
    box-shadow: 1px 1px 10px $color-primario;
    margin-bottom: 20px;

    @include flex-container(flex-start,wrap,flex-start,row);
}


.tarjeta-cabecera{
  width: 100%;
  color: #757575;
  background-color:rgba(0,0,0,.03);
  margin: 0 auto;
 
  h2{
    font-weight: 300;
    font-size: 18px;
  }
}


.tarjeta-cuerpo{
  width: 100%;
  margin: 0 auto;
  font-weight: 300;

  ul{
    padding: 0px;
    list-style: none;
    text-align: center;

    a{
      color: #757575;
      text-decoration: none;
    }
  }
}

.maxima{
  font-weight: 300;
  color: #c00101;
}

.minima{
  font-weight: 300;
  color: #a3a3a3;
}

.ciudad{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;

  @include flex-container(flex-start,nowrap,center,row);

  h2{
    margin-left: 10px;
    font-weight: 400;

    small{
      font-weight: 300;
    }
  }
}

.back{
  margin: 0 auto;
  width: 70%;
  margin-bottom: 10px;
}

footer{
  color: $color-primario;
  background-color: #282c34;
  padding: 20px;
  
  @include flex-container(space-around,nowrap,center,row);

  a{
    margin-left: 5px;
    text-decoration: none;
    color: $color-primario;
  }
}

.github{
  display: flex;
  align-items: center;
}


@media only screen and (max-width:1050px) {
  .container, .input, .back {
    width:100%;
  }
  .ciudad{
    width:90%;
  }
}

@media only screen and (max-width:715px) {
  .tarjeta {
    width:45%;
  }
}

@media only screen and (max-width:500px) {
  .titulo{
    font-size: 30px;
  }
  header{
    height: 60px;

    img{
      width: 50px;
      height: 50px;
    }
  }
}

@media only screen and (max-width:470px) {
  .container{
    justify-content: center;
  }

  .input{
    justify-content: center;

    input{
      margin-right: 20px;
    }
  }

  .tarjeta {
    width:90%;
  }
}